body {
  margin: 0;
  background-color: #212121;
    font-family: Roboto, Arial, sans-serif;
}
a{
  text-decoration: none;
}
.videogrid {
  display: grid;
  grid-column-gap: 16px;
  grid-row-gap: 40px;
  padding-left: 20px;
  padding-right: 20px;
  padding-bottom: 20px;
  padding-top: 80px;
  background-color: #181818;
  margin-left: 240px;
  margin-bottom: 500px;
  grid-template-columns: 1fr 1fr 1fr 1fr;
}

@media (min-width: 1145px) {
  .videogrid {
    grid-template-columns: 1fr 1fr 1fr 1fr;
  }
}

@media (min-width: 888px) and (max-width: 1144px) {
  .videogrid {
    grid-template-columns: 1fr 1fr 1fr;
  }
}
@media (max-width: 887px) {
  .videogrid {
    grid-template-columns: 1fr 1fr;
  }
}
@media (min-width: 1660px) {
  .videogrid{
    padding-left: 80px;
    padding-right: 80px;
  }
}
.fourtyoneanime{
  width: 100%;
  position: relative;
}

.time {
  position: absolute;
  z-index: 1;
  color: white;
  right: 7px;
  top: -30px;
  background-color: rgba(0, 0, 0, 0.7);
  font-family: Roboto, Arial;
  font-size: 12px;
  padding: 2px 4px;
  border-radius: 2px;
  font-weight: 500;
  padding: 2px 4px;
}

.time-text {
  margin-bottom: 0px;
  margin-top: 0px;
}

.videoinfo {
  display: grid;
  grid-template-columns: 48px 1fr;
  grid-column-gap: 10px;
  position: relative;
}

.sdchannelpic {
  width: 36px;
  border-radius: 100%;
  margin-top: 12px;
}

.videotext {
  width: 100%;
}

.videotitle {
  font-family: Roboto, Arial, sans-serif;
  font-weight: 500;
  font-size: 14px;
  width: 100%;
  line-height: 20px;
  margin-top: 12px;
  margin-bottom: 0;
  color: white;
}
.videopreview{
    cursor: pointer;
}

.author,
.views {
  font-family: Roboto, Arial, sans-serif;
  font-size: 12px;
  color: 	#aaaaaa;
}
.author:hover{
  color: white;
}

.author {
  margin-top: 8px;
  margin-bottom: 4px;
}

.views {
  margin-top: 0;
  margin-bottom: 16px;
}

.header {
  display: flex;
  height: 55px;
  justify-content: space-between;
  flex-direction: row;
  background-color: #212121;
  position: fixed;
  top: 0;
  right: 0;
  left: 0;
  z-index: 100;
  border-style: solid;
  border-color: #313131;
  border-width: 0 0 1px 0;
}
@media (max-width: 1300px) {
  .videogrid{
    margin-left: 74px;
  }
@media (max-width: 1300px) {
  .disappear{
    opacity: 0;
  }
}
}