.sidebar {
  background-color: #212121;
  display: flex;
  position: fixed;
  left: 0;
  top: 55px;
  bottom: 0;
  width: 240px;
  z-index: 200;
  flex-direction: column;
  padding: 12px 0;
  margin-right: 10px;
}

.sidebar-box {
  display: flex;
  flex-direction: row;
  height: 40px;
  width: 240px;
  align-items: center;
    cursor: pointer;
}
.sidebar-box:hover {
  background-color: #303030;
}

.sidebar-box-image {
  width: 24px;
  margin: 0 24px
}

.sidebar-box-text {
  width: 1fr;
  height: 20px;
  font-family: Roboto, Arial;
  font-size: 14px;
  font-weight: 400;
  color: white;
  margin: 0;
}
.sidebar-one {
  border-style: solid;
  border-color: #313131;
  border-width: 0 0 1px 0;
  margin-bottom: 12px;
  padding-bottom: 12px
}

@media (max-width: 1300px) {
  .sidebar {
    width: 72px;
    height: 74px;
    z-index: 200;
  }

  .sidebar-box {
    flex-direction: column;
    width: 72px;
    height: 74px;
    justify-content: center;
      cursor: pointer;
  }
  .sidebar-box-image {
    width: 24px;
    margin: 0 24px
  }

  .sidebar-box-text {
    font-size: 10px;
  }

  .sidebar-one {
    border: none;
    margin: 0;
    padding: 0;
  }
}
